<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css">
    <title>video</title>
  </head>
  <body>
    <div>
        <iframe
          width="514"
          height="289"
          src="https://www.youtube.com/embed/<%=  link %>?rel=0&modestbranding=1"
          title="YouTube video player"
          frameborder="0"
          sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
    </div>
  </body>
</html>
